@import "src/assets/styles/variables";
.btn {
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;

  &:focus {
    outline: none;
  }

  &.btn-primary {
    background: $primary-color;
    color: white;
    &:hover {
      background-color: $primary-light-color;
    }
    &:focus {
      background-color: $primary-dark-color;
    }
  }

  &.btn-default {
    background: $white;
    color: $grey-dark-color;
    border: 1px solid $grey-color;
    opacity: 0.7;

    &:hover, &:focus {
      opacity: 1;
    }
    &[disabled] {
      cursor: not-allowed;

      &:hover, &:focus {
        opacity: 0.7;
      }
    }
  }

  &.btn-link {
    background: transparent;
    color: $primary-color;
  }

  &.btn-icon-only {
    padding: 10px;
    & > svg {
      margin: 0;
    }
  }

  & > svg {
    margin-right: 8px;
  }

  &.btn-full {
    width: 100%;
  }
}

