$primary-color: #784CC0;
$primary-light-color: #976BE2;
$primary-dark-color: #5D3999;
$grey-color: #CECED2;
$grey-dark-color: #8F8F93;
$black: #222222;
$white: #FFFFFF;

$media-sm: 576px;
$media-md: 768px;
$media-lg: 992px;
$media-xl: 1200px;